* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes waterFlow {
  to {
    background-position: 80px 80px, -80px 80px, 80px -80px, -80px -80px;
  }
}

body {
  display: flex;
  overflow: hidden;
}

.container {
  height: 100vh;
  transition: width 0.1s ease-in-out;
}

.main {
  width: 90%;
  background:
          linear-gradient(45deg, rgba(79,195,247,0.4) 25%, transparent 25%),
          linear-gradient(-45deg, rgba(79,195,247,0.4) 25%, transparent 25%),
          linear-gradient(45deg, transparent 75%, rgba(2,136,209,0.5) 75%),
          linear-gradient(-45deg, transparent 75%, rgba(2,136,209,0.5) 75%);

  background-size: 80px 80px;
  animation: waterFlow 6s linear infinite;
  backdrop-filter: blur(2px);
  display: flex;

  justify-content: center;
  align-items: center;
  svg.icon {
    width: 75%;
    aspect-ratio: 1/1;
    transition: scale 0.1s ease-in-out;
    g.clickerRects {
      pointer-events: visiblePainted;
      &:hover {
        cursor: pointer;
        scale: 1.05;
      }
    }

  }
}
.rightSideBar {
  width: 0;
  background-color: blue;
  div.rightPanelMove {
    height: 100%;
    width: 50px;
    float: left;
    position: relative;
    left: -50px;
    background-color: yellow;
  }
}
.leftSideBar {
  width: 10%;
  background-color: red;
  -webkit-app-region: drag;
  &:hover {
    cursor: move;
  }
}
