@font-face {
  font-family: 'ArcadeClassic';
  src: url('../assets/ARCADECLASSIC.TTF');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'ArcadeClassic', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
.popupWrap {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  position: absolute;
  width: 20vw;
  height: 20vw;
  top: 2vh;
  margin-left: 40vw;
  margin-right: 40vw;
  left: 0;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

.popup {
  padding: 5px;
  width: 100%;
  outline: 5px double purple;
  background-color: green;
  h2 {
    text-align: center;
  }
}

.bubble {
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  user-select: none;
  &:focus {
    outline: none;
    background-color: transparent;
  }
  &::selection {
    background-color: transparent;
  }
  animation: popAnim .5s ease;
}

.pop {
  animation: popAnim 0.18s ease;
}

.failToBuy {
  animation: failToBuy 0.18s ease;
}


@keyframes failToBuyBlink {
  0% {
    background-color: red;
    transform: rotate(-45deg);
  }
  25% {
    background-color: transparent;
    transform: rotate(0);
  }
  50% {
    background-color: red;
    transform: rotate(45deg);
  }
  75% {
    background-color: transparent;
    transform: rotate(0deg);
  }
}

@keyframes popAnim {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes waterFlow {
  to {
    background-position: 80px 80px, -80px 80px, 80px -80px, -80px -80px;
  }
}

body {
  display: flex;
  overflow: hidden;
}
header {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100vw;
  background-color: rgba(200, 200, 200, 0.5);
  height: 25px;
  -webkit-app-region: drag;
  z-index: 10;
  transition: all 0.25s ease-in-out;
  div.headerOpen {
    background-color: rgba(200, 200, 200, 0.75);
    text-align: center;
    transition: all 0.25s ease-in-out;
    width: 20vw;
    height: 15px;
    margin-left: 40vw;
    margin-right: 40vw;
    position: relative;
    top: 0;
    &:hover {
      cursor: pointer;
      -webkit-app-region: no-drag;
    }
  }
  div.headerButtons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    margin-right: 5px;
    img {
      height: 21px;
      margin: 2px;
      -webkit-app-region: no-drag;
      &:hover {
        cursor: pointer;
        -webkit-app-region: no-drag;
        transform: scale(1.1);
      }
    }
  }
}

.container {
  height: 100vh;
  transition: width 0.1s ease-in-out;
}

.main {
  width: 90vw;
  background:
          linear-gradient(45deg, rgba(79,195,247,0.4) 25%, transparent 25%),
          linear-gradient(-45deg, rgba(79,195,247,0.4) 25%, transparent 25%),
          linear-gradient(45deg, transparent 75%, rgba(2,136,209,0.5) 75%),
          linear-gradient(-45deg, transparent 75%, rgba(2,136,209,0.5) 75%);
  background-color: rgb(94, 111, 213);
  background-size: 80px 80px;
  animation: waterFlow 6s linear infinite;
  backdrop-filter: blur(20px);
  display: flex;

  justify-content: center;
  align-items: center;
  svg.icon {
    height: 85%;
    aspect-ratio: 1/1;

    g.clickerRects {
      pointer-events: visiblePainted;
      transition: transform 0.1s ease-in-out;
      transform-origin: 50% 50%;
      transform-box: fill-box;


      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}
.rightSideBar {
  width: 0;
  background-color: blue;
  div.rightPanelMove {
    height: 20vh;
    width: 50px;
    float: left;
    position: absolute;
    writing-mode: vertical-rl;
    font-size: 2rem;
    text-align: center;
    right: 0;
    margin: 40vh 0px 40vh 0;
    transition: transform 0.1s ease-in-out, border-radius 0.25s ease-in-out, margin 0.1s ease-in-out;
    border-radius: 15px 0 0 15px;
    background-color: rgba(200, 200, 200, 0.75);
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      border-radius: 17px 0 0 17px;
    }
  }
  div.rightBarContainer {
    text-align: center;
    font-size: 2rem;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div.rightPanelShop {
      padding: 25px 0;
      margin-top: 25px;
      border-top: black solid 2px;
      width: 100%;
      div.shopItem {
        width: 100%;
        cursor: pointer;
        border: darkblue double 5px;
        display: flex;
        flex-direction: column;
        p {
          font-size: x-large;
        }
        div.shopItemPrice {
          display: flex;
          flex-direction: row;
          justify-content: center;
          svg {
            scale: 1.25;
            margin-top: 5px;
            margin-left: 10px;
          }
        }
      }
    }

  }
}
.leftSideBar {
  width: 10vw;
  background-image: url("../assets/beach.svg");
  background-repeat: repeat-y;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
  div.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-in-out;
    img {
      width: 100%;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

