* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ArcadeClassic';
  src: url('../assets/ARCADECLASSIC.TTF');
  font-weight: normal;
  font-style: normal;
}
@keyframes beachSlide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "ArcadeClassic", serif;
  overflow: hidden;

  background: linear-gradient(
                  45deg,
                  #0b1f2a,
                  #123a4a,
                  #1f5f6b,
                  #2e8b8b,
                  #3fa7a3
  );

  background-size: 400% 400%;
  animation: beachSlide 60s ease infinite;

}

.active {
  border: 2px solid rgba(200, 200, 200, 0.5);
}

div#settingsHeader {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  div {
    color: wheat;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    height: 100%;
    width: 100%;
    background: url("../assets/log.svg") no-repeat center center;
    background-size: 100% 100%;

    &:hover h3 {
      transform: scale(1.25);
    }
  }
}

main#main {
  width: 300vw;
  display: flex;
  transition: transform 0.3s ease;

  section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    text-align: center;
    h1 {
      font-size: xxx-large;
    }
    button {
      font-family: 'ArcadeClassic', serif;
      font-size: xx-large;
      margin: 15px;
      width: fit-content;
      height: fit-content;
    }
    &.settings {
      font-size: x-large;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
          margin: 5px;
        }

      }
    }
    &.saves {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      button {
        font-family: 'ArcadeClassic', serif;
      }

    }
    &.credits  {
      font-size: xx-large;
      li {
        list-style: none;
      }
    }
  }
}